{% extends "base.html" %} {% block titulo %}Nosotros{% endblock %}{% block contenido %}
<div class="container text-center bg-light text-muted text-md-start mt-5">
    <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Parking
            </h6>
            <p>
                parking es un espacio especialmente diseñado para todos los usuarios de la carretera para que puedan estacionar sus vehículos de forma segura.
            </p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Contactos
            </h6>
            <p>
                Torobajo - Calle 18 Carrera 50<br> wed_udenar@udenar.edu.co <br> + 57 3215041101 <br> + 57 3146895643
            </p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>desarrolladores
            </h6>
            <p>
                Andres Sebastian Mafla. <br> Nixon Dario Villota. <br> Hernado Andres Parra.
            </p>
        </div>
    </div>
</div>
{% endblock %}